table {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #909090;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 10px;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
}

table td,
table th {
  padding: 10px;
}

table th {
  background-color: #282c34;
  color: #fff
}